<div class='row'>
  <div class='col-xs-12 text-center'>
    <h1>Curriculum Vitae</h1>
  </div>
</div>
<div class='row'>
  <div class='col-xs-6 text-center'>
    <%= image_tag("/#{ @people.picture }") %>
  </div>
  <div class='col-xs-6'>
    <ul>
      <li>Name: <%= @people.name %></li>
      <li>Phone: <%= @people.phone %></li>
      <li>Email: <%= @people.email %></li>
      <li>Date of Birth: <%= @people.dob %></li>
      <li>Current Location: <%= @people.current_location %></li>
      <li>Github: <%= link_to(@people.github, @people.github) %></li>
      <li>Marital Status: <%= @people.marital_status %></li>
    </ul>
  </div>
</div>

<div class='row'>
  <div class='col-xs-12 text-center'>
    <h2>Personal Traits</h2>
  </div>
</div>
<div class='row'>
  <div class='col-xs-12'>
    <p><%= @people.personal_traits %></p>
  </div>
</div>

<div class='row'>
  <div class='col-xs-12 text-center'>
    <h2>Professional Experiences</h2>
  </div>
</div>
<% @people.professional_experiences.each do |professional_experience| %>
  <div class='row'>
    <div class='col-xs-12'>
      <ul>
        <li>
          <b><%= professional_experience.company %></b>
          (<%= professional_experience.title %>)
          <i><%= professional_experience.formatted_start_date %> - <%= professional_experience.formatted_end_date %></i>
        </li>
        <li><%= professional_experience.description %></li>
      </ul>
    </div>
  </div>
<% end %>

<div class='row'>
  <div class='col-xs-12 text-center'>
    <h2>Personal Experiences</h2>
  </div>
</div>
<div class='row'>
  <div class='col-xs-12'>
    <p><%= @people.personal_experiences %></p>
  </div>
</div>

<div class='row'>
  <div class='col-xs-12 text-center'>
    <h2>Technical Skills</h2>
  </div>
</div>
<div class='row'>
  <div class='col-xs-12'>
    <ul>
      <li>Languages: <%= @people.technical_skills.languages.join(', ') %></li>
      <li>Test Frameworks: <%= @people.technical_skills.test_frameworks.join(', ') %></li>
      <li>Frameworks: <%= @people.technical_skills.frameworks.join(', ') %></li>
      <li>Text Editors: <%= @people.technical_skills.text_editors.join(', ') %></li>
      <li>Databases: <%= @people.technical_skills.databases.join(', ') %></li>
      <li>Version Controls: <%= @people.technical_skills.version_controls.join(', ') %></li>
    </ul>
  </div>
</div>

<div class='row'>
  <div class='col-xs-12 text-center'>
    <h2>Educations</h2>
  </div>
</div>
<div class='row'>
  <div class='col-xs-12'>
    <% @people.educations.each do |education| %>
      <ul>
        <li>Name: <%= education.name %></li>
        <li>Location: <%= education.location %></li>
        <li>Year: <%= education.year %></li>
        <li>Graduate: <%= education.graduate %></li>
        <li>Major: <%= education.major %></li>
      </ul>
    <% end %>
  </div>
</div>
